<main>
    <section id="section-login" style="border: 2px solid black;">
        <h2>Login</h2>
        <form class="row g-3">

            <label for="staticUsuário2" class="visually-hidden">Usuário</label>
            <input type="text" class="form-control" id="staticUsuário2" placeholder="email@example.com">

        <br>

            <label for="inputPassword2" class="visually-hidden">Senha</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Senha">
            <br>
            <button type="submit" class="btn btn-primary mb-3">Login</button>

        </form>
    </section>
</main>